@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    MurInc<br />
    Minsk, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    +375 29 103 84 03
</address>

<address>
    <strong>Support:</strong> <a href="daniil.muraveyko@gmail.com">daniil.muraveyko@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="daniil.muraveyko@gmail.com">daniil.muraveyko@gmail.com</a>
</address>
